/*HEADER start*/
.header{
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0, 0.4);

	height: 100vh;
	width: 100%;
	padding: 0 8%;
	
	position: relative;
}

.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.logo{
	width: 170px;	
}

.nav-link{
	padding: 28px 0px;
}

.nav-link li{
	display: inline-block;
	margin: 0 15px;
}

.nav-link li a{
	text-decoration: none;
	color: white;
	padding: 5px 0;
	position: relative;
	font-size: 25px;
}

.nav-link li a:hover{
	font-size: 30px;
	color: yellow;
}

.button-in{
	background: #1E90FF;
	color: white;
	padding: 10px 30px;
	border-radius: 3px;
	cursor: pointer;	
}

.button-up{
	background: #1E90FF;
	color: white;
	padding: 10px 30px;
	border-radius: 3px;
	cursor: pointer;	
}

.button-in:hover{
	font-size: 26px;
}

.button-up:hover{
	font-size: 26px;
}
/*HEADER end*/




/*FOOTER start*/
.left{
	background-color: black; 
	text-align: center;	
}

.left b{
	text-decoration: underline;
	color:#D948DD;
}
.left a{
	text-decoration:none;
	font-size: 18px;
	color: white;
}

.left a:active{
	color: darkred;
}

.left a:hover{
	color: orange;
}

.power{
	font-size: 19px;
	background-color: #a9a9a9;
	text-align: center;
}

hr{
	padding-left:0px;
	border: 2px solid black;
	width:100%;
}

/* Style social media icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 8px 4px;
}

/* Add hover */
.fa:hover {
  opacity: 0.6; 
}

.Social-right{
	text-align: center;
}

.fa-facebook {
  background: #3B5998;
  color: white;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-whatsapp {
  background: #4FCE5D;
  color: white;
}
/*FOOTER end*/