
*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.title
{
    text-align: center;
}

body{
	background-image: url("../images/payimg.png");
	background-position: center;
	background-size: cover;
	
    
}

/* header */

.header{
	
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
   
   height: 100vh;
   width: 100%;
   padding: 0 8%;
   
   position: relative;
}

.nav{
   display: flex;
   align-items: center;
   justify-content: space-between;	
   width: 100%;
   position: relative;
}

.logo{
   width: 170px;
   
}

.nav-link{
   padding: 28px 0px;
   margin-right: auto;
}

.nav-link li{
   display: inline-block;
   margin: 0 15px;
}

.nav-link li a{
   text-decoration: none;
   color: white;
   padding: 5px 0;
   position: relative;
   font-size: 20px;
}

.nav-link li a:hover{
   font-size: 23px;
   color: rgb(0, 157, 255);
   
}

.in{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  
}

.in form{
  padding:20px;
  width:500px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  
}

.in form .roww{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.inputBox{
  margin:15px 0;
}

 .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.inputBox input:focus{
  border:2px solid #000;
}

.flex{
  display: flex;
  gap:15px;
}

.inputBox{
  margin-top: 5px;
}

.inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}


.in form .submit-btn:hover{
  background: #2e87cc;
}

 
 .sumbit-btn-in:hover{
     font-size: 20px;
 }
 
 .sumbit-btn-up:hover{
     font-size: 20px;
 }

 .backbtn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #2e87cc;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

 .in form .backbtn:hover{
  background:#27ae60 ;
}

 
 .bodyCont{
     position: absolute;
     left: 50%;
     top: 70%;
     width: 100%;
     max-width: 900px;
     transform: translate(-50%, -50%);
     text-align: center;
     color: white;
     padding-top: 45px;
     
     
     background-color: rgb(0,0,0); 
     background-color: rgba(0,0,0, 0.4);
     
 
     
 }
 .bodyCont h1{
     font-size: 65px;
     font-weight: 600;
     margin-bottom: 40px;
 }
 
 #paragraph{
     font-size: 21px;
 }
 
 .bodyCont{
   background-color: #27ae60;
 }
 


  
